* {
  margin: 0;
}

body {
  background-color: #cea760;
}

.panel-title {
  font-weight: bold;
  color: white;
}

.panel-body {
  padding: 0px;
}

.list-group {
  margin-bottom: 0px;
}

.list-group-item {
  font-size: 1.5em;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

/*a:visited,*/
.uniqueLink:visited {
  color: #008cba;
}

.panel-heading {
  display: flex;
  justify-content: space-between;
}

.panel-heading .panel-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 33px;
  line-height: 33px;
  min-width: 0;
  margin-right: 10px;
}

.panel,
.panel-primary {
  border-radius: 10px;
  box-shadow: 5px 7px 5px #8e7445;
}

.panel-heading {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px
}

.list-group-item {
  display: flex;
  justify-content: space-between;
}

.list-group-item .pin {
  white-space: nowrap;
  overflow: hidden;
  margin-right: 10px;
  text-overflow: ellipsis;
  width: 100%;
}

.penguin{
  height: 30px;
  margin-bottom: 10px;
  line-height: 33px;
}

.listContainer {
  height: 150px;
  display: flex;
  padding: 10px;
  margin: 15px;
  width: 75%;
  overflow: scroll;
  border: 1px solid #cea760;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 13%;
  align-items: center;
  justify-content: center;
}

.lstBtn {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: white;
}

.icn {
  margin: 0 auto;
}

.notesText {
  width: 100%;
  font-size: 20px;
}

.poppaDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-danger {
  width: 40px;
  border-radius: 5px;
}

.example-enter {
  height: 0px;
}

.infoContainer {
  display: flex;
  flex: wrap;
  flex-direction: column;
}

.infoTitle {
  align-self: center;
  font-size: 1.7em;
  font-style: italic;
  text-decoration: underline;
  padding-top: 11px;
}

.infoBody {
  border: 1px solid #cea760;
  padding: 20px;
  margin: 10px;
  font-style: italic;
  overflow: scroll;
  height: 400px;
  width: 80%;
}

.infoItem {
  border: none;
}



.example-enter.example-enter-active {
  height: 100px;
  -webkit-transition: height .3s ease;
}

.example-leave.example-leave-active {
  height: 0px;
  -webkit-transition: height .3s ease;
}

.icantwait {
  display: flex;
  font-size: 1.7rem;
  font-style: italic;
  -webkit-animation: icantwait 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;
}

@-webkit-keyframes icantwait {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}


.dropdown:hover .dropbtn {
    background-color: #3e8e41;
    padding: 5px;
}

.trans {
  font-size: 1.5em;
  padding-left: 5px;
}

.transLanguage {
  float: right;
  text-align: center;
  margin-top: -7px;
  margin-right: -9px;
  -webkit-appearance: none;
  -webkit-border: none;
}

.select {
  margin-top: 12px;
  float: right;
}
